<app-banner></app-banner>
<div id="cards_landscape_wrap-2">
    <div class="container">
        <h1>Choose Your Domain</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a>
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="https://www.freecodecamp.org/news/content/images/2020/04/Copy-of-Copy-of-Travel-Photography-1.png" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>Angular Quiz</h6>
                                <h5>Rules:</h5>
                                <ol>
                                    <li>Correct answer of each question will give you 1 point.</li>
                                    <li>Incorrect answer of each question will give you -1 point.</li>
                                    <li>You will get 60 seconds to answer each and every question.</li>
                                    <li>Refreshing the page will reset the Quiz.</li>
                                </ol>
                                <h4 style="font-family: cursive; text-align: center;">All the best!!</h4>
                            </div>
                        </div>
                        <input #particpant_name type="text" class="form-control" placeholder="Enter Your Name">
                        <button class="btn btn-dark mb-2 mt-2" routerLink="/questions" (click)="startQuiz()">Start Quiz</button> 
                    </div>
                </a>
            </div>
            
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a>
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="https://cdn.iconscout.com/icon/free/png-256/typescript-3628533-3030738.png" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>Typescript Quiz</h6>
                                <h5>Rules:</h5>
                                <ol>
                                    <li>Correct answer of each question will give you 1 point.</li>
                                    <li>Incorrect answer of each question will give you -1 point.</li>
                                    <li>You will get 60 seconds to answer each and every question.</li>
                                    <li>Refreshing the page will reset the Quiz.</li>
                                </ol>
                                <h4 style="font-family: cursive; text-align: center;">All the best!!</h4>
                            </div>
                        </div>
                        <input #particpant_name type="text" class="form-control" placeholder="Enter Your Name">
                        <button class="btn btn-dark mb-2 mt-2" routerLink="/questions" (click)="startQuiz()">Start Quiz</button> 
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a>
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="https://estradaci.com/wp-content/uploads/2019/04/asp-net-core-logo.png" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>.Net Core Quiz</h6>
                                <h5>Rules:</h5>
                                <ol>
                                    <li>Correct answer of each question will give you 1 point.</li>
                                    <li>Incorrect answer of each question will give you -1 point.</li>
                                    <li>You will get 60 seconds to answer each and every question.</li>
                                    <li>Refreshing the page will reset the Quiz.</li>
                                </ol>
                                <h4 style="font-family: cursive; text-align: center;">All the best!!</h4>
                            </div>
                        </div>
                        <input #particpant_name type="text" class="form-control" placeholder="Enter Your Name">
                        <button class="btn btn-dark mb-2 mt-2" routerLink="/questions" (click)="startQuiz()">Start Quiz</button> 
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a>
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="https://miro.medium.com/max/300/1*A_Hg7NPIoARg0RmdsVapqg.png" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>C# Quiz</h6>
                                <h5>Rules:</h5>
                                <ol>
                                    <li>Correct answer of each question will give you 1 point.</li>
                                    <li>Incorrect answer of each question will give you -1 point.</li>
                                    <li>You will get 60 seconds to answer each and every question.</li>
                                    <li>Refreshing the page will reset the Quiz.</li>
                                </ol>
                                <h4 style="font-family: cursive; text-align: center;">All the best!!</h4>
                            </div>
                        </div>
                        <input #particpant_name type="text" class="form-control" placeholder="Enter Your Name">
                        <button class="btn btn-dark mb-2 mt-2" routerLink="/questions" (click)="startQuiz()">Start Quiz</button> 
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>